$primary: #3742fa;

$card-border-width: 0;
$card-cap-bg: #fff;
$card-border-radius: 2px;
$btn-border-radius: 2px;
$font-family-base:  'Raleway', sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

#call-to-actions {
  .card {
    .card-header {
      font-weight: bold;
    }

    box-shadow: $box-shadow-sm;
    text-align: center;
  }

  // @include media-breakpoint-up(md) {
  //   .card {
  //     margin-top: -50px;
  //   }
  // }
}